/* overall styling with body-tag selector */
body {
  font-family: Helvetica;
  text-align: center;
}

.banner {
  background-image: url(../images/the-flatiron-building.png);
  text-align: center;
  color: white;

}
/* styling header */
h1 {
  font-size: 70px;
  font-weight: bold;
}

.btn {
  font-size: 18px;
  color: white;
}
